p,h1,h2,h3,h4,a,div,button,input::placeholder{
  font-family: "Space Grotesk", sans-serif !important; 
}


main {
  padding-top: 160px;
  padding-bottom: 80px;
  width: 100vw;
}

.section__title {
  font-size: 30px;
  line-height: 1.4em;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.section__desc {
  color: rgba(0, 0, 0, 0.63);
  font-size: 14px;
  line-height: 1.5em;
  margin-top: 10px;
  max-width: 320px;
  margin-bottom: 0;
  font-family: "Open Sans", sans-serif;
}

.black-button {
  background-color: #000000;
  color: #ffffff;
  border-radius: 5px;
  width: 136px;
  height: 44px;
  font-size: 15px;
  border: 0;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.white-button {
  background-color: #ffffff;
  color: #000000;
  border-radius: 5px;
  width: 136px;
  height: 44px;
  font-size: 15px;
  border: 2px solid rgba(34, 34, 34, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-space-between {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.flex {
  display: flex;
}

.flex-center{
  display: flex;
  align-items: center;
}

.first-page {
  display: flex;
  justify-content: space-around;
  padding-left: 80px;
  padding-right: 80px;

  .black-button{
    transition: background-color 1s ease-out;
    &:hover{

      background-color: #ffffff;
      color: #000000;
      border-radius: 5px;
      width: 136px;
      height: 44px;
      font-size: 15px;
      border: 2px solid rgba(34, 34, 34, 0.15);
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background-color 0.3s ease;
    }
  }
}

.first-page__text-container {
  padding-top: 40px;
  width: 40%;

  p,
  h1 {
    max-width: 450px;
  }

  h1 {
    margin-top: 30px;
  }

  p {
    margin: 0;
  }

  .desc {
    margin-top: 28px;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1.9em;
  }

  .buttons-container {
    margin-top: 28px;
    display: flex;
  }
}

.first-page__image-container {
  width: 40%;
  display: flex;
  justify-content: flex-end;

  img {
    width: 400px;
    background: black;
    border-radius: 10px;
    transform: scale(1.05) rotate(0deg);
    transition: all 300ms ease-out;
    
  }

  img:hover{
    transform: scale(1.05) rotate(-4deg);
    transition: all 300ms ease;
    animation: moveitback 400ms ease forwards; 
  }
}

.second-page {
  background: rgba(0, 0, 0, 0.01);
  padding-top: 70px;
  padding-left: 80px;
  padding-right: 80px;
  margin-top: 60px;
  padding-bottom: 70px;
  p {
    margin: 0;
    font-size: 16px;
  }
}

.second-page__container {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;

  img {
    border-radius: 10px;
    width: 65%;
    height: 380px;
    background: black;
    box-shadow:0 10px 32px 0 rgba(0, 0, 0, 0.08);
  }
}

.second-page__taps-container {
  width: 30%;
}

.second-page__tap {
  background: #f7f7f7;
  width: 100%;
  border-radius: 10px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.2em;
  margin-bottom: 15px;
  height: 54px;
  transition: height 0.5s ease;
  span{
    margin-right: 10px;
    font-weight: bold;
  }
  h4{
    margin:0;
    font-weight: bold;
    margin:0;
    font-size: 16px;
  }
  .desc {
    color: #ffffff;
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 10px;
    font-weight: normal;
    
  }
}


.second-page__tap--selected {
  background: #000000;
  height: 95px !important;
  transition: height 0.5s ease;
  p,span,h4 {
    color: #ffffff;
  }
  .desc{
    height: auto;
  }
}

.second-page__tap--selected .desc{
  min-height: auto;
  transition: min-height 0.5s ease;
}

.third-page {
  margin-top: 60px;
  padding-left: 80px;
  padding-right: 80px;
}

.third-page__card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 40px;
  gap: 25px;
}

.third-page__card {

  &:hover{
    background-color:rgba(0, 0, 0, 0.04);
    transition: background-color 0.3s ease;
    transform: scale(1)
  }

  button:hover{
    transform: scale(1.02);
    transition: transform 0.2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  }
  padding: 15px 15px 25px 15px;
  background-color: #fafafa;
  border-radius: 10px;
  transition: background-color 0.3s ease-out;
  img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    background: #000000;
    
  }

  button {
    width: 126px;
    height: 34px;
    margin-top: 14px;
  }

}

.third-page__card-title {
  font-size: 24px;
  line-height: 1.4em;
  margin-top: 22px;
  margin-bottom: 0;
  font-family: "Open Sans", sans-serif;
}

.third-page__card-desc {
  margin-top: 9px;
  margin-bottom: 0;
  color: rgba(0, 0, 0, 0.63);
  font-size: 12px;
  line-height: 1.4em;
  font-family: "Open Sans", sans-serif;
}

.fourth-page {
  background: #fafafa;
  padding-top: 40px;
  padding-bottom: 60px;

  margin-top: 60px;
  padding-left: 80px;
  padding-right: 80px;

  .section-desc {
    color: #000000;
  }

  .black-button{
    transition: background-color 1s ease-out;
    &:hover{

      background-color: #ffffff;
      color: #000000;
      border-radius: 5px;
      width: 136px;
      height: 44px;
      font-size: 15px;
      border: 2px solid rgba(34, 34, 34, 0.15);
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background-color 0.3s ease;
    }
  }

  
}

.fourth-page__cards-container {
  margin-top: 40px;
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  justify-content: space-between;
  align-items: center;
}

.fourth-page__card {
  padding: 20px;
  border-radius: 10px;
  width: 29%;
  background: #fff;
  border: 1px solid #eeeeee;
  
  img {
    background: black;
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  
  h2 {
    font-size: 26px;
    margin-top: 10px;
    margin-bottom: 0;
    font-family: "Open Sans", sans-serif;
  }

  .fourth-page__card-subtitle {
    color: #7d7d7d;
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
  }

  .fourth-page__card-desc {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1.4em;
    text-overflow: ellipsis;
    font-family: "Open Sans", sans-serif;
  }
  .fourth-page__card-desc-stars{
    margin-top:15px;
    span{
      color:#FFAA22;
      fill:#FFAA22;
    }
  }
}

.fourth-page__next-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #000000;
  margin-left: -20px;
  display: flex;
  align-items: center;
  justify-content: center;
  span{
    color:#FFFFFF;
  }
}

.contact-page {
  margin-top: 50px;
  padding-left: 80px;
  padding-right: 80px;

  .black-button {
    opacity: 1;
    margin-top: 15px;
    width: 100%;
    transition: opacity 0.5s ease-out;
    &:hover{
      opacity: 0.8;
      transition: opacity 0.5s ease;
    }
  }
}

.contact-page__row {
  display: flex;
  justify-content: space-between;
}

.contact-page__image-container {
  width: 40%;
  display: flex;

  img {
    width: 400px;
    background: black;
    border-radius: 10px;
  }
}

.contact-page__info-container {
  width: 60%;
  padding-top: 30px;
}

.contact-page__icons-container {
  margin-top: 27px;
  display: flex;
}

.contact-page__icon {
  width: 27px;
  height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  background: #f3f3f3;
  border-radius: 50%;
  transition: 0.1s ease-out; 
 
  &:hover,&:active{
    transform: scale(1.1);
    transition: 0.1s ease-in; 
  }
}

.contact-page__inputs-container {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  input {
    border: 0;
    border-radius: 10px;
    width: 47%;
    height: 45px;
    background-color: #f5f5f5;
    font-size: 15px;
    outline: none;
    padding-left: 10px;
  }
}

textarea {
  margin-top: 15px;
  width: 100%;
  height: 180px;
  background-color: #f5f5f5;
  border: 0;
  border-radius: 10px;
  resize: none;
  font-size: 15px;
  outline:none;
  padding-left: 10px;
}

.contact-page__info {
  margin-top: 65px;
  display: flex;
  justify-content: space-between;

  h2 {
    margin: 0;
    color: #333333;
    font-size: 22px;
    font-family: "Open Sans", sans-serif;
  }
  h1 {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 30px;
    font-family: "Open Sans", sans-serif;
  }
}

@media (max-width: 720px) {
  .first-page,
  .second-page,
  .third-page,
  .fourth-page,
  .contact-page {
    padding-left: 36px;
    padding-right: 36px;
  }

  .first-page__text-container {
    width: 45%;
  }

  .second-page {
    padding-top: 50px;
  }

  .second-page__container {
    img {
      width: 55%;
    }
  }

  .third-page__card-container {
    grid-template-columns: 1fr 1fr;
  }

  .fourth-page__card {
    width: 44%;
  }

  .contact-page__info-container {
    padding-top: 0;
    width: 55%;
  }

  .contact-page__image-container {
    img {
      width: 300px;
    }
  }

  .contact-page__info {
    flex-wrap: wrap;
    gap: 30px;
  }
}

@media (max-width: 500px) {
  .flex-space-between {
    flex-wrap: wrap;
    button {
      margin-top: 15px;
    }
  }

  .first-page,
  .second-page,
  .third-page,
  .fourth-page,
  .contact-page {
    padding-left: 15px;
    padding-right: 15px;
  }
  .first-page {
    flex-direction: column;
  }

  .first-page__text-container {
    width: 100%;
    padding-top: 0;
  }

  .first-page__image-container {
    width: 100%;
    margin-top: 40px;
    img {
       width: 100%;
      min-height: 455px;
    }
  }

  .second-page {
    padding-top: 20px;
  }

  .second-page__container {
    img {
      display: none;
    }
  }

  .second-page__taps-container {
    width: 80%;
  }

  .third-page__card-container {
    grid-template-columns: 1fr;
  }

  .fourth-page__card{
    width:100%;
  }

  .contact-page__row {
    flex-direction: column;
  }

  .contact-page-image-container {
    width: 100%;
    img {
      width: 100%;
      min-height: 480px;
    }
  }

  .contact-page__info-container {
    width: 100%;
    margin-top: 25px;
  }
}

