<header>
  Scriptify
  <div class="header-links-container">
    <a>Home</a>
    <a> Services </a>
    <a> Features </a>
    <a> Pricing </a>
    <a> Testimonial </a>
    <button class="gradient-button">
      Remix The Template<span class="material-symbols-outlined">
        north_east
      </span>
    </button>
  </div>
</header>
<main>
  <section class="first-section">
    <div class="first-section-info-container">
      <div class="first-section-title-container">
        <h1 class="section-title">
          Helping Businesses Through Compelling <span> ✦ Writing Skills </span>
        </h1>
        <p class="section-desc">
          Whether it’s website copy, blog posts, email campaigns, or social
          media content, our team of experienced writers and editors will work
          closely with you to ensure that your message is delivered.
        </p>
      </div>
      <div class="first-section-customers-container">
        <div class="flex">
          <img />
          <img />
          <img />
          <img />
          <img />
          <p>Over 15k+ Customers & Companies Trust Us.</p>
        </div>
        <button class="gradient-button">
          Explore our services<span class="material-symbols-outlined">
            north_east
          </span>
        </button>
      </div>
    </div>
    <div class="first-section-grid">
      <div class="first-section-simple-card no-display">
        <img />
      </div>
      <div class="first-section-double-card">
        <img />
        <img />
      </div>
      <div class="first-section-simple-card">
        <img />
      </div>
      <div class="first-section-double-card">
        <img />
        <img />
      </div>
    </div>
    <div class="first-section-profits-data">
      <h3 class="section-title section-subtitle">
        We Helped Businesses In Generating <span>✦ 2x Profits</span>
      </h3>
      <div class="flex-space-between">
        <div class="first-section-profit-data">
          <h1 class="section-title">98%</h1>
          <p>Client Satisfaction</p>
        </div>
        <div class="first-section-profit-data">
          <h1 class="section-title">89%</h1>
          <p>Revenue increased</p>
        </div>
        <div class="first-section-profit-data">
          <h1 class="section-title">15k+</h1>
          <p>Happy Customers</p>
        </div>
      </div>
    </div>
  </section>

  <section class="second-section">
    <div class="flex-center">
      <h2 class="section-title">
        Let's Craft Your Herioc Content<span> ✦ Together </span>
      </h2>
    </div>
    <div class="second-section-cards-container">
      <div class="second-section-card">
        <div></div>
        <p class="second-section-card-title">Website Content Creation</p>
        <p class="second-section-card-desc">
          Your content goes here. Edit or remove this text inline or in the
          module Content settings. You can also style every aspect of this
          content.
        </p>
      </div>
      <div class="second-section-card">
        <div></div>
        <p class="second-section-card-title">Website Content Creation</p>
        <p class="second-section-card-desc">
          Your content goes here. Edit or remove this text inline or in the
          module Content settings. You can also style every aspect of this
          content.
        </p>
      </div>
      <div class="second-section-card">
        <div></div>
        <p class="second-section-card-title">Website Content Creation</p>
        <p class="second-section-card-desc">
          Your content goes here. Edit or remove this text inline or in the
          module Content settings. You can also style every aspect of this
          content.
        </p>
      </div>
    </div>
  </section>

  <section class="third-section">
    <div class="third-section-row">
      <div>
        <img />
      </div>
      <div>
        <h2 class="section-title">
          When Creativity Meets <span> High Conversion </span>
        </h2>
        <div class="flex">
          <div>
            <p class="second-section-card-title">Website Content Creation</p>
            <p class="second-section-card-desc">
              Your content goes here. Edit or remove this text inline or in the
              module Content settings. You can also style every aspect of this
              content.
            </p>
          </div>
        </div>
        <div class="flex">
          <div>
            <p class="second-section-card-title">Website Content Creation</p>
            <p class="second-section-card-desc">
              Your content goes here. Edit or remove this text inline or in the
              module Content settings. You can also style every aspect of this
              content.
            </p>
          </div>
        </div>
        <div class="flex">
          <div>
            <p class="second-section-card-title">Website Content Creation</p>
            <p class="second-section-card-desc">
              Your content goes here. Edit or remove this text inline or in the
              module Content settings. You can also style every aspect of this
              content.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="third-section-row">
      <div>
        <h2 class="section-title">
          Transforming Business <span> Visions into Words </span>
        </h2>
        <div class="flex">
          <div>
            <p class="second-section-card-title">Website Content Creation</p>
            <p class="second-section-card-desc">
              Your content goes here. Edit or remove this text inline or in the
              module Content settings. You can also style every aspect of this
              content.
            </p>
          </div>
        </div>
        <div class="flex">
          <div>
            <p class="second-section-card-title">Website Content Creation</p>
            <p class="second-section-card-desc">
              Your content goes here. Edit or remove this text inline or in the
              module Content settings. You can also style every aspect of this
              content.
            </p>
          </div>
        </div>
        <div class="flex">
          <div>
            <p class="second-section-card-title">Website Content Creation</p>
            <p class="second-section-card-desc">
              Your content goes here. Edit or remove this text inline or in the
              module Content settings. You can also style every aspect of this
              content.
            </p>
          </div>
        </div>
      </div>
      <div>
        <img />
      </div>
    </div>

    <div class="gradient-board">
      <div class="flex-center">
        <h2>Elevate Your Brand with Expert Content Writing Services</h2>
      </div>
      <div class="gradient-board-grid">
        <div class="gradient-board-grid-item">
          <p>✦ Creative Campaigns</p>
          <hr />
        </div>

        <div class="gradient-board-grid-item">
          <p>✦ Creative Campaigns</p>
          <hr />
        </div>

        <div class="gradient-board-grid-item">
          <p>✦ Creative Campaigns</p>
          <hr />
        </div>

        <div class="gradient-board-grid-item">
          <p>✦ Creative Campaigns</p>
          <hr />
        </div>

        <div class="gradient-board-grid-item">
          <p>✦ Creative Campaigns</p>
          <hr />
        </div>

        <div class="gradient-board-grid-item">
          <p>✦ Creative Campaigns</p>
          <hr />
        </div>

        <div class="gradient-board-grid-item">
          <p>✦ Creative Campaigns</p>
          <hr />
        </div>

        <div class="gradient-board-grid-item">
          <p>✦ Creative Campaigns</p>
          <hr />
        </div>

        <div class="gradient-board-grid-item">
          <p>✦ Creative Campaigns</p>
          <hr />
        </div>
      </div>
    </div>
  </section>

  <section class="section-three">
    <div class="flex-space-between">
      <h2 class="section-title">Why choose Scriptify?</h2>
      <div>
        <p class="section-desc">
          A dynamic solution designed to transform the way you create content.
          With unparalleled Natural Language Generation, our tool crafts
          compelling, tailored narratives that resonate with your audience’s
          needs.
        </p>
        <button class="gradient-button">
          Check Our Pricing<span class="material-symbols-outlined">
            north_east
          </span>
        </button>
      </div>
    </div>
    <div class="section-three-images-container">
      <img />
      <img />
    </div>
    <div class="section-three-cards-container">
      <div class="section-three-card">
        <div class="circle"><div class="inside-circle"></div></div>
        <p class="section-desc">Over 1425+ Happy Customers</p>
      </div>
      <div class="section-three-card">
        <div class="circle"><div class="inside-circle"></div></div>
        <p class="section-desc">Over 1425+ Happy Customers</p>
      </div>
      <div class="section-three-card">
        <div class="circle"><div class="inside-circle"></div></div>
        <p class="section-desc">Over 1425+ Happy Customers</p>
      </div>
      <div class="section-three-card">
        <div class="circle"><div class="inside-circle"></div></div>
        <p class="section-desc">Over 1425+ Happy Customers</p>
      </div>
      <div class="section-three-card">
        <div class="circle"><div class="inside-circle"></div></div>
        <p class="section-desc">Over 1425+ Happy Customers</p>
      </div>
      <div class="section-three-card">
        <div class="circle"><div class="inside-circle"></div></div>
        <p class="section-desc">Over 1425+ Happy Customers</p>
      </div>
    </div>
  </section>
  <section class="section-four">
    <div class="flex-space-between">
      <h2 class="section-title">Simple Pricing for Every Business?</h2>
      <div>
        <p class="section-desc">
          Additionally, our collaborative workflow and transparent communication
          channels ensure that your feedback is integrated seamlessly throughout
          the writing process, resulting in content.
        </p>
        <button class="gradient-button">
          Check Our Testimonials<span class="material-symbols-outlined">
            north_east
          </span>
        </button>
      </div>
    </div>
    <div class="section-four-prices-container">
      <div class="section-four-price-card">
        <h3 class="section-subtitle">Per Words</h3>
        <p class="second-section-card-desc">
          Offer a rate based on the number of words
        </p>
        <button class="gradient-button black-button">
          Starting from $199<span class="material-symbols-outlined">
            north_east
          </span>
        </button>
        <h3 class="second-section-card-title">What's included?</h3>
        <div class="included-row">
          <div class="included-circle"></div>
          <p class="second-section-card-desc">1000+ Word Count</p>
        </div>
        <div class="included-row">
          <div class="included-circle"></div>
          <p class="second-section-card-desc">Content Research</p>
        </div>
        <div class="included-row">
          <div class="included-circle"></div>
          <p class="second-section-card-desc">SEO Optimized Content</p>
        </div>
        <div class="included-row">
          <div class="included-circle"></div>
          <p class="second-section-card-desc">Content Strategy</p>
        </div>
        <div class="included-row">
          <div class="included-circle"></div>
          <p class="second-section-card-desc">Proofreading & Editing</p>
        </div>
        <div class="included-row">
          <div class="included-circle"></div>
          <p class="second-section-card-desc">Clear Formatting</p>
        </div>
      </div>
      <div class="section-four-price-card section-four-price-card-selected">
        <h3 class="section-subtitle">Monthly</h3>
        <p class="second-section-card-desc">
          Offer a rate based on the number of words
        </p>
        <button class="gradient-button">
          Starting from $699<span class="material-symbols-outlined">
            north_east
          </span>
        </button>
        <h3 class="second-section-card-title">What's included?</h3>
        <div class="included-row">
          <div class="included-circle"></div>
          <p class="second-section-card-desc">1000+ Word Count</p>
        </div>
        <div class="included-row">
          <div class="included-circle"></div>
          <p class="second-section-card-desc">Content Research</p>
        </div>
        <div class="included-row">
          <div class="included-circle"></div>
          <p class="second-section-card-desc">SEO Optimized Content</p>
        </div>
        <div class="included-row">
          <div class="included-circle"></div>
          <p class="second-section-card-desc">Content Strategy</p>
        </div>
        <div class="included-row">
          <div class="included-circle"></div>
          <p class="second-section-card-desc">Proofreading & Editing</p>
        </div>
        <div class="included-row">
          <div class="included-circle"></div>
          <p class="second-section-card-desc">Clear Formatting</p>
        </div>
      </div>
      <div class="section-four-price-card">
        <h3 class="section-subtitle">Custom Offer</h3>
        <p class="second-section-card-desc">
          Offer a rate based on the number of words
        </p>
        <button class="gradient-button black-button">
          Contact us<span class="material-symbols-outlined"> north_east </span>
        </button>
        <h3 class="second-section-card-title">What's included?</h3>
        <div class="included-row">
          <div class="included-circle"></div>
          <p class="second-section-card-desc">1000+ Word Count</p>
        </div>
        <div class="included-row">
          <div class="included-circle"></div>
          <p class="second-section-card-desc">Content Research</p>
        </div>
        <div class="included-row">
          <div class="included-circle"></div>
          <p class="second-section-card-desc">SEO Optimized Content</p>
        </div>
        <div class="included-row">
          <div class="included-circle"></div>
          <p class="second-section-card-desc">Content Strategy</p>
        </div>
        <div class="included-row">
          <div class="included-circle"></div>
          <p class="second-section-card-desc">Proofreading & Editing</p>
        </div>
        <div class="included-row">
          <div class="included-circle"></div>
          <p class="second-section-card-desc">Clear Formatting</p>
        </div>
      </div>
    </div>
  </section>
  <section class="section-five">
    <div class="flex-center">
      <h2 class="section-title">
        Client Experiences, Unfiltered: <span> ✦ Raving Testimonials </span>
      </h2>
    </div>
    <div class="section-five-cards-container">
      <div class="section-five-card">
        <img />
        <p class="section-desc">"Love Their Writing Strategy"</p>
        <div class="stars-container"></div>
      </div>
      <div class="section-five-card">
        <img />
        <p class="section-desc">"Love Their Writing Strategy"</p>
        <div class="stars-container"></div>
      </div>
      <div class="section-five-card">
        <img />
        <p class="section-desc">"Love Their Writing Strategy"</p>
        <div class="stars-container"></div>
      </div>
    </div>
    <div class="section-five-grid">
      <img />
      <div class="section-five-grid-item">
        <h2 class="section-subtitle">
          "Outstanding service! Our business has seen a significant boost in
          online visibility since partnering with them"
        </h2>
        <img />
        <h3 class="section-subtitle">Steven franklin</h3>
        <p class="section-desc">Global Head Of Customer Service</p>
      </div>
    </div>
  </section>
  <section class="sixth-section">
    <div class="flex-space-between">
      <h2 class="section-title">Frequently Asked Questions</h2>
      <div>
        <p class="section-desc">
          Whether it’s website copy, blog posts, email campaigns, or social
          media content, our team of experienced writers and editors will work
          closely with you,
        </p>
        <button class="gradient-button">
          Get started now<span class="material-symbols-outlined">
            north_east
          </span>
        </button>
      </div>
    </div>

    <div class="sixth-section-questions-container">
      <div class="sixth-section-question">
        <div class="flex-space-between nowrap">
          <p class="section-desc">What is Content Writing Agency?</p>
          <span class="material-symbols-outlined"> keyboard_arrow_down </span>
        </div>
      </div>
      <div class="sixth-section-question">
        <div class="flex-space-between nowrap">
          <p class="section-desc">What is Content Writing Agency?</p>
          <span class="material-symbols-outlined"> keyboard_arrow_down </span>
        </div>
      </div>
      <div class="sixth-section-question">
        <div class="flex-space-between nowrap">
          <p class="section-desc">What is Content Writing Agency?</p>
          <span class="material-symbols-outlined"> keyboard_arrow_down </span>
        </div>
      </div>
      <div class="sixth-section-question">
        <div class="flex-space-between nowrap">
          <p class="section-desc">What is Content Writing Agency?</p>
          <span class="material-symbols-outlined"> keyboard_arrow_down </span>
        </div>
      </div>
    </div>
    <div class="gradient-board">
      <div>
        <h2>Stories That Captivate, Engage, and Convert</h2>
        <div class="first-section-customers-container">
          <div class="flex">
            <img />
            <img />
            <img />
            <img />
            <img />
            <p>Over 15k+ Customers & Companies Trust Us.</p>
          </div>
        </div>
      </div>
      <div class="gradient-board-info-container">
        <div class="gradient-board-grid-item">
          <p>
            A dynamic solution designed to transform the way you create content.
            With unparalleled Natural Language Generation, our tool crafts
            compelling, tailored narratives.
          </p>
        </div>
        <div class="gradient-board-grid-item">
          <p>Interactive content generator</p>
        </div>
        <div class="gradient-board-grid-item">
          <p>Interactive content generator</p>
        </div>
        <div class="gradient-board-grid-item">
          <p>Interactive content generator</p>
        </div>
        <div class="gradient-board-grid-item">
          <p>Interactive content generator</p>
        </div>
        <div class="gradient-board-grid-item">
          <p>Interactive content generator</p>
        </div>
        <button class="gradient-button black-button">
          Remix the template<span class="material-symbols-outlined">
            north_east
          </span>
        </button>
      </div>
    </div>
    <div class="sixth-section-subscribe-container">
      <div class="subscribe-box">
        <h5>Get Amazing Writing Tricks to Rank & Grow Your Business Online</h5>
        <div>
          <input placeholder="name@name.com" type="email" />
          <button class="gradient-button">Subscribe now</button>
        </div>
      </div>
      <div class="contact-info">
        <div class="contact-info-circle-container">
          <div class="contact-info-circle"></div>
          <div class="contact-info-circle"></div>
          <div class="contact-info-circle"></div>
        </div>
        <div class="contact-info-circle-container">
          <a>Home</a>
          <a>Services</a>
          <a>Features</a>
          <a>Contact</a>
        </div>
        <div class="contact-info-circle-container">
          <p>Privacy policies</p>
          <p>Terms & Conditions</p>
        </div>
        <div class="contact-info-circle-container">
          <p>Copyright 2020-23 - All Right Reserved</p>
        </div>
      </div>
    </div>
  </section>
</main>
