<app-header></app-header>
<main>
  <h1>Event Website</h1>
  <p class="projects__desc">
    A platform to promote and manage events with features like ticket sales,
    etc.
  </p>
  <button class="black-button">
    Visit website
    <span class="material-symbols-outlined"> arrow_right_alt </span>
  </button>
  <img />
  <p class="projects__desc projects__text">
    A blog website is a platform that features regularly updated articles or
    posts on a particular topic or niche. It typically includes features like
    commenting, social sharing, categories, and tags to help readers navigate
    the content.
  </p>
  <div class="projects__row">
    <h3>Features</h3>
    <ul>
        <li class="projects__desc projects__text">
            Publish and manage blog posts easily with a user-friendly interface
        </li>
        <li class="projects__desc projects__text">
            Publish and manage blog posts easily with a user-friendly interface
        </li>
        <li class="projects__desc projects__text">
            Publish and manage blog posts easily with a user-friendly interface
        </li>
        <li class="projects__desc projects__text">
            Publish and manage blog posts easily with a user-friendly interface
        </li>
        <li class="projects__desc projects__text">
            Publish and manage blog posts easily with a user-friendly interface
        </li>
        <li class="projects__desc projects__text">
            Publish and manage blog posts easily with a user-friendly interface
        </li>
        <li class="projects__desc projects__text">
            Publish and manage blog posts easily with a user-friendly interface
        </li>
    </ul>
  </div>

  <div class="projects__row">
    <h3>Beneficts</h3>
    <ul>
        <li class="projects__desc projects__text">
            Publish and manage blog posts easily with a user-friendly interface
        </li>
        <li class="projects__desc projects__text">
            Publish and manage blog posts easily with a user-friendly interface
        </li>
        <li class="projects__desc projects__text">
            Publish and manage blog posts easily with a user-friendly interface
        </li>
        <li class="projects__desc projects__text">
            Publish and manage blog posts easily with a user-friendly interface
        </li>
        <li class="projects__desc projects__text">
            Publish and manage blog posts easily with a user-friendly interface
        </li>
        <li class="projects__desc projects__text">
            Publish and manage blog posts easily with a user-friendly interface
        </li>
        <li class="projects__desc projects__text">
            Publish and manage blog posts easily with a user-friendly interface
        </li>
    </ul>
  </div>
</main>
