<div class="side-bar side-bar--open" [ngClass]="{'side-bar--open':show}">
  <div class="side-bar__header">
    <div>
      <a>Inicio</a>
    </div>
    <a (click)="changeShow()">
      <span class="material-symbols-outlined"> close </span>
    </a>
  </div>
  <div>
    <a> About </a>
  </div>
  <div>
    <a> Services </a>
  </div>
  <div>
    <a> Work </a>
  </div>
  <div>
    <a> Testimonials </a>
  </div>
  <div>
    <a> Contact </a>
  </div>
  <div>
    <button>
      Download<span class="material-symbols-outlined"> download </span>
    </button>
  </div>
</div>
